<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="DESKTOP-D4773OU-Input" value="D:\Github\AlvarezMarsal\Working-Files\Automated Company Profile\AutomatedCompanyProfile\Server\bin\Debug"/>
    <add key="DESKTOP-D4773OU-Output" value="D:\Github\AlvarezMarsal\Working-Files\Automated Company Profile\AutomatedCompanyProfile\AcpWebApp\Output"/>
    <add key="USE1DEVICRWEB02-Input" value="C:\www\AutomatedCompanyProfile"/>
    <add key="USE1DEVICRWEB02-Output" value="C:\www\AutomatedCompanyProfile\Output"/>
    <add key="US-ATL-NL010007-Input" value="C:\Working-Files\Automated Company Profile\AutomatedCompanyProfile\Server\bin\Debug"/>
    <add key="US-ATL-NL010007-Output" value="C:\Working-Files\Automated Company Profile\AutomatedCompanyProfile\AcpWebApp\Output"/>
	  
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	  
    <add key="DESKTOP-D4773OU-Timeout" value="1"/>
    <add key="DESKTOP-D4773OU-LogLevel" value="D"/>
    <add key="USE1DEVICRWEB02-Timeout" value="30"/>
    <add key="USE1DEVICRWEB02-LogLevel" value="D"/>
    <add key="US-ATL-NL010007-Timeout" value="1"/>
    <add key="US-ATL-NL010007-LogLevel" value="D"/>
	  
    <add key="DESKTOP-D4773OU-ReinstallCiq" value="conditional"/>
    <add key="USE1DEVICRWEB02-ReinstallCiq" value="yes"/>
    <add key="US-ATL-NL010007-ReinstallCiq" value="yes"/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
